BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: AcrossEmptyLines
AlignOperands: Align
UseTab: Never
